<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
   body{
              background: rgb(9,121,11);
  background: linear-gradient(90deg, rgba(9,121,11,0.87718837535014) 13%, rgba(255,188,0,0.4514180672268907) 100%);
  font-family:  'sans-serif';        
  }
  .s1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(205, 255, 182);
  }
  .s2{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
</style>
<body>

<!-- As a link -->
<nav class="navbar navbar-light bg-danger ">
  <a class="navbar-brand s2" href="#">Class monitoring System</a>
</nav>

  <nav class="navbar navbar-light bg-success">
    <span class="navbar-brand mb-0 h1" >Class monitoring system- Get reports of the class now!</span>
  </nav>

<div class="container">
<br>
  <div class="mx-auto" style="width: 600px;">
  <h2>Got a new student in the class? </h2>
  <h2>Upload his picture to get daily attendance.</h2></h2>
</div>


 </div>
</form>
</div>
<br>
<div class="mx-auto" style="width: 150px;">
  <a href="http://127.0.0.1:5000/index">
   <button type="button" class="btn s1">Start camera</button>
</a>
</div>
</body>
</html>
